/.venv
/.venv_seq
/data
/logs
/checkpoints
# Ignore Python bytecode files recursively
**/__pycache__/
/nohup
nohup.out
outputs/**/checkpoints
outputs/**/logs
# Large log files
outputs/**/retrain_*_nohup.log
