torch==2.7.1
numpy==2.3.*
scipy==1.16.*
pandas==2.3.*
scikit-learn==1.7.*
lightning>=2.6,<2.7
pytorch-lightning>=2.6,<2.7
omegaconf
tensorboard
matplotlib
tqdm
optuna
optuna-integration
seaborn
statsmodels
xgboost
lightgbm
tbparse
plotly
kaleido
pytest
pytest-timeout
networkx
PyYAML
simplejson
